@model IEnumerable<MyBooksSite.ViewModels.AdminIndexUserViewModel>

@{
    ViewBag.Title = "Gebruikersbeheer";
}

<h2>Gebruikersbeheer</h2>

<p>
    @Html.ActionLink("Gebruiker aanmaken", "Create")
</p>
<div class="table-responsive">
    <table class="table"  id="userTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.UserName)

                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Roles)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "Admin", new { id = item.Id }) "> @Html.DisplayFor(modelItem => item.UserName) </a>
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <ul>
                        @if (item.Roles.Count > 0)
            {
                foreach (var role in item.Roles)
                {
                    <li>@role</li>
    }

}
else
{
            <li>Kijk rechten</li>
}

                    </ul>
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Admin", new { id = item.Id })"><i class="far fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "Admin", new { id = item.Id })"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                order: [[1, 'asc'], [0, 'asc']]
            });
        });
    </script>
    }