@model IEnumerable<MyBooksSite.Models.Author>

@{
    ViewBag.Title = "Overzicht auteurs";
}

<h2>Overzicht auteurs</h2>

<p>
    @Html.ActionLink("Auteur aanmaken", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.ActionLink("Wijzigen", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                </td>
            </tr>
    }
        </tbody>
    </table>
    </div>