@model MyBooksSite.ViewModels.BookRatingViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Boek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
    </dl>
    @Html.DisplayFor(model => model.AverageRating)
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.Book.Id }) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
