@model IEnumerable < MyBooksSite.Models.Book>

@{
    ViewBag.Title = "Overzicht boeken";
}

<h2>Overzicht boeken</h2>

<p>
    @Html.ActionLink("Boek aanmaken", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    Naam
                </th>
                <th>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                    @Html.DisplayFor(modelItem => item.Author.LastName)
                </td>
                @{ 
                    var average = 0;
                    if (item.NumberOfRatings > 0)
                    {
                        average = item.SumRatings / item.NumberOfRatings;
                    }
                }
                <td>@String.Format("{0:0.0}", average)</td>
                <td>
                    @Html.ActionLink("Wijzigen", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                </td>
            </tr>
    }
        </tbody>
    </table>
    </div>  
