@model IEnumerable<MyBooksSite.Models.Book>

@{
    ViewBag.Title = "Overzicht boeken";
}

<h2>Overzicht boeken</h2>

<p>
    @Html.ActionLink("Boek aanmaken", "Create")
</p>
<div class="table-responsive">
    <table class="table" id="bookTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author.FullName)
                </th>
                <th>Beoordeling</th>
                <th>@Html.DisplayNameFor(model => model.NumberOfViews)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Books", new { id = item.Id }) "> @Html.DisplayFor(modelItem => item.Title) </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Authors", new { id = item.Author.Id }) "> @Html.DisplayFor(modelItem => item.Author.FullName) </a>
                    </td>
                    @{
                        var average = 0;
                        if (item.NumberOfRatings > 0)
                        {
                            average = item.SumRatings / item.NumberOfRatings;
                        }
                    }
                    <td>@average</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfViews)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Books", new { id = item.Id })"><i class="far fa-edit"></i></a>
                        <a href="@Url.Action("Delete", "Books", new { id = item.Id })"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#bookTable').DataTable({
                order: [[1, 'asc'], [0, 'asc']]
            });
        });
    </script>
}