@model IEnumerable<MyBooksSite.ViewModels.BookRatingViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Titel
        </th>
        <th>
            Naam
        </th>
        <th>
            Rating
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Author.FirstName)
            @Html.DisplayFor(modelItem => item.Book.Author.LastName)
        </td>
        <td>@Html.DisplayFor(modelItem => item.AverageRating)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Book.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Book.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Book.Id })
        </td>
    </tr>
}

</table>
